/* variables de colores */
:root{
    --color_texto-logo:rgb(137,120,241,0.92);
    --sombra_texto-logo:rgb(0,0,0,0.3);
    --color_items-nav:#7879F1;
    --color_texto-nav:#F3F2FE;
    --sombra_items-nav:rgb(0,0,0,0.5);
    --color_fondo-listnav:rgb(120,121,241,0.6);
    --color_texto-comprar-login:rgb(255,249,249);
    --sombra_texto-comprar-login:rgb(0,0,0,0.8);
    --color_boton-login:rgb(24,153,246,0.63);
    --sombra_boton-compra_carrousel:rgb(0,0,0,0.4);
    --color_titles:#7879F1;
    --sombra_titles:rgb(0,0,0,0.5);
    --color_fondo-aside:rgb(120,121,241,0.5);
    --sombra-boton-top:rgb(0,0,0,0.6);
}



