@import "colores.scss";
@import "animaciones.scss";
@import "variables_funciones.scss";

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
// menu de navegación
.navbar{
    .logo__imagen{
        width:100px;
        height:100px;
        margin-left:20px;
    }
    .logo__texto{
        text-transform: uppercase;
        text-decoration: none;
        color:var(--color_titles);
        text-shadow: 2px 2px 2px grey;
        font-size:3.5rem;
        font-weight:bolder;
        letter-spacing: 1px;
        vertical-align: middle;
    }
    :hover{
        color:rgba(202, 55, 202, 0.5);
    }
    .navbar-nav{
        margin-left:auto;
        .nav-item{
            font-size: 2.5rem;
            margin-left:40px;
            text-transform:uppercase;
            font-family: 'Rosario', sans-serif;
            .nav-link{
                font-weight:bold;
                color:var(--color_items-nav);
                background-image: linear-gradient(to right, violet,blue);
                background-position: 50% 95%;
                background-repeat: no-repeat;
                background-size: 0% 3px;
                transition: background-size .2s;
            }
            :hover{
                background-size: 90% 3px;
            }
            .nav-link:hover{
                color:gray;
            }
            .activo{
                color:coral;  
            }
            .sublist{
                position:absolute;
                width:125px;
                top:38px;
                background-color:var(--color_items-nav);
                box-shadow:2px 2px 2px black;
                border-radius:0 0 10px 10px;
                text-align: center;
                z-index:2;
                animation-name:sublistas;
                animation-duration:.5s;
                .dropdown-item{
                    color:white;
                    font-size:2rem;
                }
                .dropdown-item:hover{
                    font-weight:bold;
                    color:violet;
                }
            }
            .sublist::before{
                position:absolute;
                content:'▲';
                color:var(--color_items-nav);
                font-size:20px;
                left:80%;
                top:-20px;
            }
            .sublist__productos{
                width:165px;
                height:240px;
                line-height:40px;
            }
            .sublist__productos::before{
                content:'▲';
                left:87%;
                top:-25px;
            }
        }
    }
}
// menu login
.section__login{
    width:12%;
    .section__login--images{
        margin-left:-20px;
    }
    img{
        width:40px;
        margin-left:20px;
    }
    :hover{
        transform: scale(1.05);
    }
    input{
        width:135px;
        margin-top:10px;
        font-size:1.6rem;
        border-radius:15px;
        outline:none;
        text-align: center;
        border:1px solid grey;
    }
    .header__whatsapp{
        display:none;
    }
}
// carousel
.section__carousel{
    width:99%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    // botones carousel
    .carousel-control-prev-icon, .carousel-control-next-icon{
        display:none;
        background-color:rgb(134, 70, 134);
        width:50px;
        height:100px;
        border-radius: 10px;
    }
    :hover > .carousel-control-prev .carousel-control-prev-icon{
        display:block;
    }
    :hover > .carousel-control-next .carousel-control-next-icon{
        display:block;
    }
}
/* titulo novedades y descripción + imagen decorativa*/
.novedades{
    position:relative;
    .novedades__title{
        color:var(--color_titles);
        text-shadow: 2px 2px 2px var(--sombra_titles);
        font-size:7.2rem;
        font-weight:bolder;
        letter-spacing: 3px;
        text-align: center;
        margin-top:8%;
    }
    .novedades__description{
        color:#222222;
        font-weight:bolder;
        font-size:3.6rem;
        font-weight: bold;
        margin-top:20px;
        text-align: center;
    }
    .novedades__imagen--decorativa{
        position:absolute;
        left:55%;
        top:105px;
    } 
} 
// cards Image
.cards__image{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-items:center;
    flex-basis:100%;
        article{
            width:360px;
            height:400px;
            margin-top:50px;
            margin-bottom:30px;
            :hover{
                transform:scale(1.1);
                border:2px solid grey;
                box-shadow:4px 4px 3px grey;
                overflow:hidden;
            }
        img{
            width:300px;
            height:300px;
            object-fit: contain;
            margin-left:7%;
            margin-top:2%;
        }
        .cards__texto{
            width:350px;
            height:100px; 
            box-shadow: 4px 4px 4px grey;
            pointer-events: none;
        }
        .card__category{
            font-size: 1.4rem;
            color:#FF6060;
            text-align:center;
        }
        .card__title{
            margin-top: 7px;;
            font-weight:bold;
            font-size:18px;
            text-align:center;
        }
        .card__description{
            font-size:1.5rem;
            margin-top:15px;
            color:#666666;
            text-align:center;
        }
        .btn__cards{
            display:none;
            margin-top:15px;
            width:150px;
            height:40px;
            border-radius:15px;
            padding:3px;
            box-shadow:2px 2px 4px black;
            margin-bottom:10px;
            .btn__cards--texto{
                font-size:2.2rem;
                color:white;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        .btn__cards:hover{
            background-color: rgb(250, 70, 70);
            border:none;
            outline: none;
            box-shadow: none;
            transform: none;
            padding:3px;
            a{
                box-shadow: none;
                border:none;
            }
        }
    }
    :hover > .btn__cards{
        display:block;
        margin-top:25px;
    } 
}
// sidebar - redes sociales
.sidebar{
    float:right;
    left:100%;
    margin-top:-500px;
    width:60px;
    height:235px;
    background-color:var(--color_fondo-aside);
    padding:6px;
    border-radius:15px 0px 0px 15px;
    box-shadow: -4px 4px 4px var(--sombra_items-nav);
    img{
        width:50px;
        height:50px;
        border-radius:35px;
        margin-top:10px;
        margin-bottom:10px;
        box-shadow:0 4px 4px var(--sombra_items-nav);
    }
    :hover{
        transform:translate(0px,4px);
        box-shadow:none;  
    }    
}
aside:hover{
    background: lightcoral;
}
// boton top dispositivos moviles pequeños
.btn__top--moviles{
    display:none;
    position:fixed;
    top: 100vh;
    right:5px;
    width:40px;
    height:40px;
    z-index:1;
    margin-top:-50px;
    .btn__top--imagen{
        width:40px;
        height:40px;
    }
}
// boton whatsapp
.whatsapp{
    position: absolute;
    right:0;
    width:300px;
    height:110px;
    img{
        float:right;
        width:100px;
        height:100px;
        box-shadow:-2px 4px 2px var(--sombra_items-nav);
        border-radius:55px;
    }    
    .texto{
        display:none;
        position:absolute;
        top:20%;
        left:-2%;
        font-size:2.5rem;
        line-height: 50px;
        letter-spacing: 2px;
        background-color:rgb(54, 146, 54);
        border-radius:30px;
        width:200px;
        padding:2px;
        text-align: center;
        font-weight: bold;
        color:#fff;
        box-shadow:2px 2px 2px black;
        font-family: 'Rosario', sans-serif;
        z-index:-1;
    }
    :hover{
        transform:translate(-2px,4px);
        box-shadow:none;  
        transform: rotate(45deg);
    }  
    :hover ~ .texto{
        display:block;
        animation-name:whatsapp;
        animation-duration: 1s;
    }
}  
// seccion marcas
.marcas{
    position:relative;
    .marcas__title{
        color:var(--color_titles);
        text-shadow: 4px 2px 2px var(--sombra_titles);
        font-size:7.2rem;
        font-weight:bolder;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top:5%;
    }
        .marcas__imagen--decorativa{
        position:absolute;
        top:70px;
    } 
}
.section__marcas{
    margin-top:60px;
    img{
        width:240px;
        height:100px;
        filter:grayscale(1);
        object-fit:contain;
        padding:0.5%;
        margin-left:2.5%;
        margin-bottom:20px;
    }
    :hover{
        filter:none;
    }

}
//  footer
.footer{
    position:relative;
    margin-top:100px;
    width:100%;
    height:310px;
    background:linear-gradient(to left,cyan, lightblue);
    .footer__informacion{
        position:relative;
        display:flex;
        flex-flow:column nowrap;
        width:20%;    
        font-size:22px;
        padding:5px;
        line-height: 25px;
        margin-top:25px;
        color:rgb(85, 83, 83);
        margin-left:15px;
        .title{
            margin-top: 15px;
            margin-bottom:25px;
            font-size:2rem;
            font-weight: bold;
            color:rgb(49, 47, 47);
            vertical-align: middle;
        }
        img{
            width:20px;
            filter:blackscale(1);
        }
        .logo{
            width:40px;
            margin-left:-10px;
        }
        .footer__whatsapp, .footer__informacion--maps{
            text-decoration:none;
            color:black;
        }
    }
    .footer__botonTop{
        position:fixed;
        top:100vh;
        right:0;
        margin-top:-65px;
        img{
            right:0;
            width:50px;
            height:60px;
            box-shadow:-4px 4px 4px var(--sombra-boton-top);
        }
        :hover{
            transform: translate(-4px,4px);
            box-shadow: none;
        }
    }
    .footer__menu{
        position:absolute;
        top:40%;
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        width:100%;
        li{
            margin-left: 20px;
            list-style:none;
        }
        a{
            text-decoration: none;
            font-size: 2rem;
            vertical-align: middle;
        }
        img{
            width:20px;
            margin-left:5px;
            margin-right:5px;
        }
        :hover{
            color:coral;
            letter-spacing: 2px;
            transition:all 1s;
        }
    }
    .footer__redes--sociales{
        display:flex;
        flex-flow:row nowrap;
        justify-content:center;
        width:100%;
        img{
            margin:5px;
            width:30px;
            box-shadow:2px 2px 2px black;
            border-radius:19px;
        }
        :hover{
            transform: scale(1.1);
            filter:grayscale(100%);
        }
    }
    .footer__copyright{
        display:flex;
        flex-flow:row nowrap;
        justify-content: center;
        width:12%;
        font-size: 1.6rem;
        font-weight:bold;
        vertical-align: middle;
        img{
            width:16px;
        }
    }
    .footer__mail{
        text-decoration: none;
        color:black;
    }
}
// Fin del Footer
/* Quienes somos - Empresa */
.nosotros{
    display:grid;
    grid-template-columns: 80%;
    grid-row-gap:70px;
    grid-column:3/4;
    grid-template-rows:200px 100px 700px;
    justify-content: center;
    align-items:center;
    .nosotros__info{
        margin-top:50px;
        font-size:2.4rem;
        font-weight: bold;
        text-align: justify;
    }
    /* /Video Empresa */
    .nosotros__video{
        justify-content:center;
        width:100%;
        height:600px;
    }
}
.nosotros__description{
    display:grid;
    grid-template-columns: 60% 10%;
    grid-template-rows:repeat(3,1fr);
    grid-column:1/5;
    grid-row-start: 7/12;
    grid-row-gap:50px;
    grid-column-gap:30px;
    grid-template-areas:"textoEmpresa personasEmpresa"
                        "textoEmpresa personasEmpresa"                    
                        "textoEmpresa personasEmpresa";
    justify-content: center;
    align-items: center;
}
/* staff empresa */
.nosotros__description--staff{
    grid-area: textoEmpresa;
    margin-top:-40px;
    margin-left:-50px;
    font-size:2.4rem;
    font-weight: bold;
    text-align: justify;
    li{
        margin-top:20px;
    }
}
.nosotros__personas{
    grid-area:personasEmpresa;
    width:10%;
    margin-left:50%;
    top:1280px;
    .nosotros__persona--nombre{
        width:150px;
        margin-top:10px;
        text-align:center;
        font-size:2rem;
        font-weight: bold;
    }
    .nosotros__persona--imagen{
        display:inline-block;
        width:130px;
        height: 130px;
        margin-top:10px;
        border-radius:100px;
        border:3px dotted lightgrey;
        object-fit: cover;
    }
}
/* staff empresa */
/* titulos de paginas (sitio web)*/
.titles{
    width:100%;
    color:var(--color_titles);
    text-shadow: 2px 2px 2px var(--sombra_titles);
    font-size:6.2rem;
    font-weight:bolder;
    letter-spacing: 3px;
    margin-top:80px;
    text-align: center;
    margin-bottom:70px;
    text-transform: uppercase;
    text-decoration:none;
}
/* /titulos de paginas*/
/* titulo descripción de páginas (sitio web) */
.titlesDescriptionSitio{
    color:#222222;
    font-weight:bolder;
    font-size:3rem;
}
/* /titulo descripción de páginas */
/* seccion Novedades*/
.ultimasNovedades{
    width:100%;
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    margin-bottom:10px;
    line-height: 80px;
}
.novedades__video{
    margin-top:50px;
}
/* /seccion Novedades*/
// Contactos
.fondo__contactos{
    background-image: url('../images/fondoContactos.png');
    background-size:cover;
}
//  atributos Formulario - Contacto 
.contactos{
    position:relative;
    margin:100px auto;
    width:50%;
    padding:2em;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
    color:black;
    background-size: cover;
    background-image: url('../images/fondo6.png');
    border:2px solid purple;
    box-shadow:5px 5px 4px rgb(10, 10, 10);
    .contactos_input{
        background: lightcyan;
        border:2px solid purple;
        box-shadow: 2px 2px 4px black;
        width:290px;
    }
    input{ 
        height:35px;
        border:transparent;
        outline:none;
        font-weight: normal;
        font-size:1.8rem ;
        font-weight: bold;
        border-radius: 15px;
        text-align:center;
        letter-spacing: 1px;
    }
}
.referido{ 
    font-size: 1.8rem;
    letter-spacing: 2px;
    outline:none;
    border:3px solid purple;
    box-shadow: 2px 2px 4px black;
    background-color: lightcyan;
    font-weight:bold;
    text-align:center;
    padding:10px;
    line-height: 30px;
    color:purple;
    border-radius: 10px;
    grid-column-start:2;
    grid-row-start:8;
}
.labelReferido{
    grid-row-start:8;
    grid-column-start:1;
}
.textArea{
    font-size:1.8rem;
    resize: none;
    overflow: auto;
    box-shadow: 2px 2px 2px black;
    outline: none;
    border:3px solid purple;
    font-weight: bold;
    padding:.5em;
    border-radius: 10px;
    grid-column-start:2;
    grid-row:9/auto;
    background-color: lightcyan;
}
.botonEnviar{
    width:50%;
    color:var(--color_texto-nav);
    background-color:rgb(0, 167, 56);
    text-shadow: 2px 2px 4px black;
    box-shadow:2px 2px 2px black;
    font-size:15px;
    justify-self: center;
}
.botonCancelar{
    width:50%;
    background-color: rgb(161, 21, 9);
    color:var(--color_texto-nav);
    text-shadow: 2px 2px 4px black;
    box-shadow:2px 2px 2px black;
    font-size:15px;
    justify-self: center;
}
.formulario{
    display:grid;
    grid-column:3/5;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(8,2fr);
    grid-column-gap:20px;
    grid-row-gap:40px;
    justify-content: center;
    align-items: center;
}
.txtIntereses{
    font-size:3.5rem;
    color:black;
}
input[type=radio]{
    display:none;
}
input[type=radio] + .labelRadio{
    cursor:pointer;
}
.labelRadio:after{
    content:'';
    background: transparent;
    margin-left:20px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    color:cyan;
}
input[type=radio]:checked + .labelRadio:after{
    content:'✅';
    font-size: 2rem;
}
.labelRadio{
    color:white;
    text-shadow: 2px 2px 2px black;
}
input[type=checkbox]{
    display:none;
}
.labelIntereses{
    color:goldenrod;
    text-shadow:2px 2px 2px black;
}
.labelIntereses:after{
    content:'';
    width:40px;
    height:40px;
    border:4px solid brown;
    display:inline-block;
    text-align:center;
    margin-left:20px;
    vertical-align: middle;
    background: transparent;
    box-shadow:2px 2px 4px #333;
    border-radius: 10px;
}
.interesesDos{
    margin-left:35px;
}
.interesesTres{
    margin-left:45px;
}
.interesesCuatro{
    margin-left: 45px;
}
input[type=checkbox] + .labelIntereses{
    cursor:pointer;
}
input[type=checkbox]:checked + .labelIntereses:after{
    content:'✔';
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    color:rgb(39, 236, 114);
    text-shadow: 2px 2px 2px black;
    
}
/* efectos botones formulario */
.botonCancelar:hover{
    transform:translate(2px,2px);
    box-shadow:none;
    background-color: rgb(218, 117, 108);
}
.botonEnviar:hover{
    transform:translate(2px,2px);
    box-shadow:none;
    background-color: rgb(140, 211, 125);
}
/* efectos botones formulario */
/* atributos Formulario - Contacto */
/* formulario curriculum */
.form__curriculum{
    display:block;
    width:50%;
    height:400px;
    font-size:3.5rem;
    font-family: 'Rosario', sans-serif;
    font-weight:bold;
    margin-top:40px;
    letter-spacing: 3px;
    .form__curriculum--textarea1{
        @include textarea__curriculum (800px,250px,4px,purple,5px,lightcyan,2rem,10px);
        margin-top:30px;
        margin-bottom:30px;
        resize: none;
        outline: none;
        overflow: scroll;
        font-weight: bold;  
    }
    .form__curriculum--label{
        font-size: 2.5rem;
    }
    .form__curriculum--texto{
        font-size:1.8rem;
        font-weight:bold;
    }
    .form__curriculum--boton{
        @include size__boton(100px, 40px,5px,var(--color_texto-nav),rgb(49, 49, 49),transparent);
        font-size:2.2rem;
        font-weight:bold;
    }
    .form__curriculum--fondo{
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        width:100%;
        height:900px;
        background-position: left;
        object-fit: cover;
        opacity:0.3;
    }
/* efecto boton curriculum */
    .form__curriculum--boton:hover{
        transform:translate(4px, 4px);
        box-shadow:none;
        @include hover1;
    }
}
/* /formulario curriculum */
/* sidebar de navegacion productos */
.sidebar__productos{
    @include sidebar(130px,242px,35%);
    .sidebar__productos--items{
        margin-top:15px;
        line-height: 30px;
        list-style:none;
        text-align:center;
        margin-left:-15px;
    }
    .sidebar__productos--texto{
        font-size: 1.6rem;
        color:var(--color_texto-nav);
        text-decoration:none;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .sidebar__productos--texto:hover{
        @include hover1;
    }
    .sidebar__productos--items:hover{
        @include hover2;
    }
}
/* /sidebar de navegacion productos */
/* sidebar de navegacion marcas */
.sidebar__marcas{
    @include sidebar(100px,265px,35%);
    .sidebar__marcas--items{
        margin-top:15px;
        line-height:20px;
        list-style:none;
        text-align: center;
        margin-left: -10px;
    }
    .sidebar__marcas--texto{
        color:var(--color_texto-nav);
        text-decoration:none;
        font-weight: bold;
        font-size:1.6rem;
        letter-spacing: 2px;
    }
    .sidebar__marcas--texto:hover{
        @include hover1;   
    }
    .sidebar__marcas--items:hover{
        @include hover2;
    }
}
/* /sidebar de navegacion marcas */
// modal login
.modal{
    input[type="checkbox"]{
        display:inline-block;
    }
    .modal-header{
        @include modal(var(--color_texto-nav),var(--color_items-nav),2rem,bold);
    }
    .modal-body{
        @include modal(black,lightcyan,1.6rem,bold);
        input{
            @include modal(black,lightblue,1.4rem,400px);
        }
    }
    .modal-footer{
        @include modal (black,lightcyan,none,400px);
    }
}
// botones modal
.btn-modal{
    @include size__boton(100px,30px,10px,white,grey,transparent);
}
.btn-modal:hover{
    @include hover_desplazo;
}
// footer link activo
.footer__item--activo{
    color:red;
}
// sitio web Error - Página no encontrada
.section__error--404{
    height:400px;
    margin-top: 10%;
    .section__error--title{
        vertical-align: middle;
    }
    img{
        margin-top:0px;
        width:150px;
    }
    .animacion__error404:hover{
        animation-name:rotar;
        animation-duration:1s;
    }
    .section__error--description{
        margin-top:30px;
        width:80%;
        margin-left: 11%;
        font-size: 2.5rem;
        text-align:center;
        margin-bottom: 30px;;
    }
    .section__error--imagen{
        width:300px;
        margin-top:30px;
        left:60%;
    }
    .btn-error{
        color:white;
        padding:4px;
        border-radius:12px;
        text-decoration:none;
        box-shadow:2px 2px 4px black;
    }
    .btn-error:hover{
        @include hover1;
        box-shadow:inherit;
    }
}
@import "responsive.scss"; 