// Resoluciones pequeñas
@media only screen and (min-width:320px) and (max-width:600px){
    // menu de navegacion
    .navbar{
        .navbar-nav{
            .nav-item{
                margin-top:20px;
                margin-left:10px;
                width:155px;
                border-radius: 20px;
                background-color: var(--color_items-nav);
                box-shadow: 3px 3px 2px grey;
                .nav-link{
                    color:var(--color_texto-nav);
                    font-size:2rem;
                    text-align: center;
                    background-image:none;
                }
                .nav-link:hover{
                    color:var(--color_items-nav);
                }
                .activo{
                    color:greenyellow; 
                }
                .sublist{
                    background-color:var(--color_items-nav);
                    margin-top:-3px;
                    margin-left:-10px;
                    margin-top: 10px;
                    width:170px;
                    box-shadow:3px 3px 2px black;
                    border-radius:10px;
                }
                .sublist::before{
                    content:'▲';
                    left:113px;
                    margin-top:-2px;
                }
                .sublist__productos::before{
                    content:'▲';
                    left:130px;
                }  
            }
            .nav-item:hover{
                background-color: transparent;
                border:2px solid var(--color_items-nav);
                box-shadow:none;
            }         
        }
        .navbar-toggler{
            margin-left:auto;
            margin-right:auto;
            font-size: 2rem;
            background-color:rgba(137,120,241, 0.92);
            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }       
        }           
        .logo__imagen{
            width:60px;
            height:60px;
            margin-left:-5px;
        }
        .logo__texto{
            font-size:2rem;
            text-shadow:none;
            font-weight:bold;
            letter-spacing:0px;
            margin-left:10px;
        }
    }
    .section__login{
        display:flex;
        width:100%;
        margin-left:auto;
        margin-top:30px;
        margin-bottom:30px; ;
        flex-flow:column nowrap;
        align-items: center;
        margin-left:-10px;
        img{
            width:60px;
        }
        input{
            margin-left:6%;
            width:160px;
            height:35px;
        }
        .header__whatsapp{
            position:absolute;
            display:inline-block;
            left:5px;
            top:120px;
            box-shadow:4px 4px 4px grey;
            border-radius:34px;
                img{
                    margin:auto;
                    width:50px;
                    height:50px;
                }
            }
        }
        // carousel
    .section__carousel{
        width:95%;
        height:120px;
        .carousel-control-prev-icon, .carousel-control-next-icon{
            width:20px;
            height:40px;
        }
    }
    // seccion novedades
    .novedades{
        margin-top:80px;
        .novedades__title{
            margin-top:100px;
            font-size:5.8rem;
            letter-spacing:0;
        }
        .novedades__description{
            font-size:2.2rem;
        }
        .novedades__imagen--decorativa{
            position:absolute;
            width:150px;
            height:80px;
            left:55%;
            top:36%;
        } 
    }
    .sidebar{
        display:none;
    }
    // seccion marcas
    .marcas{
        margin-top:30px;
        .marcas__title{
            position:relative;
            font-size:6rem;
        }
        .marcas__imagen--decorativa{
            position:absolute;
            top:400px;
            width:150px;
            height:80px;
            left:48%;
            top:4%;        }
    }
    // cards Image
    .cards__image{
        display:flex;
        flex-direction: column;
        align-content:center;
        margin-bottom:70px;
    }
    // footer
    .footer{
        width:100%;
        height:600px;
        .footer__botonTop{
            display:none;
        }
        .footer__informacion{
            display:flex;
            width:90%;
            flex-direction:column;
            align-items: center;
            .logo{
                margin-left:-20px;
            }
        }
        .footer__menu{
            position:relative;
            display:flex;
            flex-direction:column;
            width:100%;
            align-content:center;
            margin-left:auto;
        }
        .footer__copyright{
            width:100%;
        }
    }
    // icono whatsapp
    .whatsapp{
        display:none;
    }
    // sidebar productos y marcas
    .sidebar__productos{
        display:none;
    }
    .sidebar__marcas{
        display:none;
    }
    // titulos pagina
    .titles{
        margin-top:40px;
        font-size:4rem;
        margin-bottom:50px;
    }
    .title__novedades{
        margin-top: -60px;
        font-size:55px;
        margin-bottom:30px;
    }
    // empresa
    .nosotros{
        grid-template-columns:310px;
        grid-row-gap:110px;
        .nosotros__info{
            margin-top:140px;
            text-align:justify;
            font-size:1.8rem;
        }
        .nosotros__video{
            width:100%;
            height:320px;
        }
    }
    .nosotros__description{
        grid-template-columns: 310px;
        grid-template-rows:repeat(3,1fr);
        grid-row-start: 9/12;
        grid-template-areas:"textoEmpresa"
                            "textoEmpresa"
                            "textoEmpresa"
                            "personasEmpresa"
                            "personasEmpresa"
                            "personasEmpresa";
        .nosotros__description--staff{
            width:310px;
            font-size:1.8rem;
            margin-left:auto;
            margin-right: auto;
            margin-top: -160px;
        }
    }
    .nosotros__personas{
        width:310px;
        margin-left: 0;
        text-align: center;
        .nosotros__persona--nombre{
            width:100%;
        }
    }
    // contactos
    .contactos{
        margin-top:-10px;
        width:310px;
        box-shadow: 2px 2px 4px black;
        .contactos_input{
            width:250px;
            height: 50px;
            border-radius: 20px;
        }
    }
    .formulario{
        display:flex;
        flex-flow:column nowrap;
        align-items: center;
        input[type=radio] + .labelRadio{
            cursor:pointer;
            }
        input[type=radio]:checked + .labelRadio{
            position:relative;
            margin-left:-20px;
        }
        input[type=radio]:checked + .labelRadio:after{
            content:'✅';
            font-size: 2rem;
            position:absolute;
            margin-left:15px;
            top:10px;
        }
        .labelIntereses{
            position:relative;
            text-align: center;
            margin-left:-5px;
            font-size: 2.5rem;
        }
        .labelIntereses::after{
            position:absolute;
            left:100%;
            border:none;
            text-align: center;
            box-shadow: none;
        }
        .textArea{
            width:250px;
            height:200px;
        }
        .botonEnviar, .botonCancelar{
            width:100%;
        }
        .referido{
            width:250px;
        }
    }
    // video de Youtube Sección Novedades
    .novedades__video--youtube{
        width:310px;
        height:300px;
    }
    // titulo de descripción de las páginas del sitio
    .titlesDescriptionSitio{
        font-size:2.5rem;
        text-align: center;
    }
    // formulario de página Curriculum
    .form__curriculum{
        width:310px;
        height:650px;
        margin-top:-10px;
        .form__curriculum--texto{
            font-size:1.8rem;
            width:310px;
        }
        .form__curriculum--fondo{
            width:100%;
            height:1400px;
        }
        .form__curriculum--textarea1{
        @include textarea__curriculum (310px,200px,4px,purple,5px,lightcyan,2rem,10px);
        }
    }
    // boton top movil
    .btn__top--moviles{
        display:block;
    }
}
//Resoluciones Medianas
@media only screen and(min-width:610px)and(max-width:999px){
    // menu de navegacion
    .navbar{
        .navbar-nav{
            .nav-item{
                margin-top:20px;
                margin-left:-80px;
                align-self:center;
                width:255px;
                border-radius: 20px;
                background-color: var(--color_items-nav);
                box-shadow: 3px 3px 2px grey;
                .nav-link{
                    color:var(--color_texto-nav);
                    font-size:2.5rem;
                    text-align: center;
                    background-image:none;
                }
                .nav-link:hover{
                    color:var(--color_items-nav);
                }
                .activo{
                    color:greenyellow; 
                }
                .sublist{
                    background-color:var(--color_items-nav);
                    margin-top:18px;
                    margin-left:-10px;
                    width:270px;
                    height:325px;
                    box-shadow:3px 3px 2px black;
                    border-radius:10px;
                    .dropdown-item{
                        font-weight: bold;
                        margin-top:6px; 
                        font-size:2.5rem;
                        line-height:50px;
                    }
                }
                .sublist::before{
                    content:'▲';
                    left:173px;
                    margin-top:-2px;
                }
                .sublist__productos::before{
                    content:'▲';
                    left:195px;
                }  
            }
            .nav-item:hover{
                background-color: transparent;
                border:2px solid var(--color_items-nav);
                box-shadow:none;
            }         
        }
        .navbar-toggler{
            font-size: 2.5rem;
            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(137,120,241, 0.92)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }            
        .logo__imagen{
            width:80px;
            height:80px;
            margin-left:5px;
        }
        .logo__texto{
            font-size:3rem;
            letter-spacing:3px;
            text-shadow:none;
            font-weight:bold;
            margin-left:30px;
        }
    }
    // login
    .section__login{
        display:flex;
        width:100%;
        margin-top: 60px;
        margin-bottom:30px; ;
        flex-flow:column nowrap;
        align-items: center;
        justify-content: center;
        img{
            width:80px;
        }
        input{
            width:260px;
            font-size: 2rem;
            height:40px;
            padding:8px;
            border-radius:20px;
        }
        .header__whatsapp{
            display:none;
        }
    }
    // modales
    .modal{
        width:150%;
        input[type="checkbox"]{
            display:inline-block;
        }
        .modal-header{
            @include modal(var(--color_texto-nav),var(--color_items-nav),3rem,bold);
            h5{
                font-size:2rem;
            }
        }
        .modal-body{
            @include modal(black,lightcyan,2rem,bold);
            input{
                @include modal(black,lightblue,1.8rem,400px);
            }
        }
        .modal-footer{
            @include modal (black,lightcyan,none,400px);
        }
    }
    // botones modal
    .btn-modal{
        @include size__boton(130px,30px,10px,white,grey,transparent);
    }
    .btn-modal:hover{
        @include hover_desplazo;
    }
    // Botones Carousel
    .section__carousel{
        .carousel-control-prev-icon, .carousel-control-next-icon{
            width:40px;
            height:60px;
        }
    }
    // footer
    .footer{
        height:600px;
        .footer__botonTop{
            display:none;
        }
        .footer__informacion{
            display:flex;
            width:97%;
            flex-direction:column;
            align-items: center;
            .logo{
                margin-left:-20px;
            }
            .title{
                font-size: 2.5rem;
            }
        }
        .footer__menu{
            position:relative;
            display:flex;
            flex-direction:column;
            width:100%;
            align-content:center;
            margin-left:auto;
        }
        .footer__copyright{
            width:100%;
        }
    }
    // boton whatsapp
    .whatsapp{
        display:none;
    } 
    // sidebars Marcas - Productos 
    .sidebar{
        display:none;
    }
    .sidebar__productos{
        display:none;
    }
    .sidebar__marcas{
        display:none;
    }
    // Empresa
    .nosotros{
        grid-template-columns:550px;
        grid-row-gap:20px;
        .nosotros__info{
            margin-top:180px;
            text-align:justify;
            font-size:2rem;
        }
        .nosotros__video{
            margin-top:80px;
            width:100%;
            height:320px;
        }
    }
        .nosotros__description{
        grid-template-columns: 550px;
        grid-template-rows:repeat(3,1fr);
        grid-template-areas:"textoEmpresa"
                            "textoEmpresa"
                            "textoEmpresa"
                            "personasEmpresa"
                            "personasEmpresa"
                            "personasEmpresa";
        .nosotros__description--staff{
            font-size:2rem;
            margin-top: -110px;
            margin-left:auto;
            width:550px;
        }
    }
    .nosotros__personas{
        width:550px;
        margin-left: 0;
        text-align: center;
        .nosotros__persona--nombre{
            width:100%;
        }
    }
    // contactos
    .contactos{
        margin-top:-10px;
        width:600px;
        box-shadow: 2px 2px 4px black;
        .contactos_input{
            width:500px;
            height:60px;
            font-size: 2rem;
            border-radius: 25px;
        }
    }
    .formulario{
        display:flex;
        flex-flow:column nowrap;
        align-items: center;
        input[type=radio] + .labelRadio{
            cursor:pointer;
            }
        input[type=radio]:checked + .labelRadio{
            position:relative;
            margin-left:-20px;
        }
        input[type=radio]:checked + .labelRadio:after{
            content:'✅';
            font-size: 2rem;
            position:absolute;
            margin-left:15px;
            top:10px;
        }
        .labelIntereses{
            position:relative;
            text-align: center;
            margin-left:-5px;
            font-size: 3rem;
        }
        .labelIntereses::after{
            position:absolute;
            left:100%;
            border:none;
            text-align: center;
            box-shadow: none;
        }
        .textArea{
            width:500px;
            height:300px;
            font-size:2rem;
        }
        .botonEnviar, .botonCancelar{
            width:60%;
        }
        .referido{
            width:500px;
            height:60px;
            font-size:2rem;
            text-align:center;
            letter-spacing: 3px;
            
        }
    }
    // video de Youtube Sección Novedades
    .novedades__video--youtube{
        width:600px;
        height:350px;
    }
    // titulo de descripción de las páginas del sitio
    .titlesDescriptionSitio{
        font-size:2.5rem;
        text-align: center;
    }
    // formulario de página Curriculum
    .form__curriculum{
        height:650px;
        margin-top:-10px;
        .form__curriculum--fondo{
            height:1500px;
        }
        .form__curriculum--boton{
            margin-top: 30px;
        }
    }
    // boton top moviles
    .btn__top--moviles{
        display:block;
        top:100vh;
        right:30px;
        margin-top:-57px;
        .btn__top--imagen{
            width:60px;
            height:60px;
        }
    }
}
// dispositivos medianos - grandes
@media only screen and(min-width:1000px) and (max-width:1300px){
    .navbar{
        .logo__imagen{
            width: 50px;
            height:50px;
            margin-left:5px;
        }
        .logo__texto{
            text-transform: uppercase;
            text-decoration: none;
            color:var(--color_titles);
            text-shadow: 2px 2px 2px grey;
            font-size:2.5rem;
            font-weight:bolder;
            vertical-align: middle;
            letter-spacing: 1px;;
        }
        .navbar-nav{
            display:flex;
            flex-flow:row wrap;
            margin-left:60px;
            .nav-item{
                font-size:2rem;
                margin-left:15px;
                text-transform:uppercase;
                font-family: 'Rosario', sans-serif;
                .nav-link{
                    font-weight:bold;
                    color:var(--color_items-nav);
                    background-image: linear-gradient(to right, violet,blue);
                    background-position: 50% 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 3px;
                    transition: background-size .2s;
                }
                :hover{
                    background-size: 90% 3px;
                }
                .nav-link:hover{
                    color:gray;
                }
                .activo{
                    color:coral;  
                }
                .sublist{
                    position:absolute;
                    width:115px;
                    top:32px;
                    left:-5px;
                    background-color:var(--color_items-nav);
                    box-shadow:2px 2px 2px black;
                    border-radius:0 0 10px 10px;
                    text-align: center;
                    z-index:2;
                    animation-name:sublistas;
                    animation-duration:.5s;
                    .dropdown-item{
                        color:white;
                        font-size:2rem;
                    }
                    .dropdown-item:hover{
                        font-weight:bold;
                        color:violet;
                    }
                }
                .sublist::before{
                    position:absolute;
                    content:'▲';
                    color:var(--color_items-nav);
                    font-size:20px;
                    left:82px;
                    top:-18px;
                }
                .sublist__productos{
                    width:165px;
                    height:240px;
                    left:-17px;
                    line-height:40px;
                }
                .sublist__productos::before{
                    content:'▲';
                    left:129px;
                    top:-23px;
                }
            }
        }
        // menu login -whatsapp
        .section__login{
            width:11%;
            img{
                width:40px;
                margin-left:5px;
            }
            :hover{
                transform: scale(1.1);
            }
            input{
                width:105px;
                margin-top:10px;
                font-size:1.6rem;
                border-radius:15px;
                outline:none;
                text-align: center;
                border:1px solid grey;
            }
            .header__whatsapp{
                display:none;
            }
        }
    }
    // whatsapp en main
    .whatsapp{
        position:absolute;
        left:72%;
        z-index:1;
    }
    .footer{
        margin-top:100px;
        .footer__informacion{
            width:30%;
        }
        .footer__menu{
            position:absolute;
            left:200px;
            width:70%;
        }
        .footer__copyright{
            width:100%;
        }
    }
    .nosotros{
        grid-row-gap:110px;
    }
    .sidebar__marcas{
        display:none;
    }
    .sidebar__productos{
        display:none;
    }
    .contactos{
        width:70%;
        .contactos_input{
            height: 60px;
            font-size: 2rem;
            border-radius: 25px;
        }
    }
    .formulario{
        grid-template-columns: 250px 300px;
        .textArea{
            font-size: 2rem;
        }
        .referido{
            font-size:2rem;
            height:60px;
        }
    }
    .botonEnviar, .botonCancelar{
        width:200px;
    }
    // novedades- video youtube
    .novedades__video--youtube{
        width:1000px;
        height:600px;
    }
    // formulario de página Curriculum
    .form__curriculum{
        height:630px;
        margin-top:-10px;
        .form__curriculum--fondo{
            width:100%;
            height:1200px;
        }
        .form__curriculum--textarea1{
        @include textarea__curriculum (500px,300px,4px,purple,5px,lightcyan,2rem,10px);
        }
        .form__curriculum--boton{
            margin-top: 80px;
        }
    }
    .titles{
        font-size:5.5rem;
    }
}
    //  dispositivos grandes
    @media only screen and(min-width:1301px) and (max-width:1800px)and(orientation:landscape){
        .navbar{
            .logo__imagen{
                width:80px;
                height:80px;
                margin-left:0;
            }
            .logo__texto{
                text-transform: uppercase;
                text-decoration: none;
                color:var(--color_titles);
                text-shadow: 2px 2px 2px grey;
                font-size:3.2rem;
                font-weight:bolder;
                vertical-align: middle;
                margin-left:5px;
            }
            :hover{
                color:rgba(202, 55, 202, 0.5);
            }
            .navbar-nav{
                margin-left:40px;
                .nav-item{
                    font-size: 2rem;
                    margin-left:20px;
                    .sublist{
                        position:absolute;
                        width:110px;
                        top:33px;
                        background-color:var(--color_items-nav);
                        box-shadow:2px 2px 2px black;
                        border-radius:0 0 10px 10px;
                        text-align: center;
                        z-index:2;
                        animation-name:sublistas;
                        animation-duration:.5s;
                        .dropdown-item{
                            color:white;
                            font-size:2rem;
                        }
                        .dropdown-item:hover{
                            font-weight:bold;
                            color:violet;
                        }
                    }
                    .sublist::before{
                        position:absolute;
                        content:'▲';
                        color:var(--color_items-nav);
                        font-size:20px;
                        left:78px;
                        top:-20px;
                    }
                    .sublist__productos{
                        width:150px;
                        height:240px;
                        line-height:40px;
                        left:-10px;
                    }
                    .sublist__productos::before{
                        content:'▲';
                        left:122px;
                        top:-24px;
                    }
                }
            }
            .section__login{
                .section__login--images{
                    margin-left:-25px;
                    // margin-right:auto;
                }
                input{
                    width:115px;
                }
            }
        }
    // boton whatsapp
    .whatsapp{
        left:76%;
        img{
            width:80px;
            height:80px;
        }
    }
    //  footer
    .footer{
        margin-top:100px;
        .footer__informacion{
            width:25%;
        }
        .footer__menu{
            left:220px;
            width:75%;
            margin-right:0;
            li{
                a{
                    font-size:1.6rem;
                }
            }
        }
        .footer__copyright{
            width:15%;
        }
    }
    // sidebar productos y marcas
    .sidebar__productos{
        position:sticky;
        z-index:2;
        margin-top:-200px;
        margin-bottom:-40px;
    }
    .sidebar__marcas{
        position:sticky;
        z-index:2;
        margin-top:-250px;
        margin-bottom:-60px;
    }
    // novedades video youtube
    .novedades__video--youtube{
        width:1200px;
        height:600px;
    }
    .contactos{
        .contactos_input{
            height:35px;
        }
    }
}